.images {
  .flex-row(center, flex-start);
  width: @mobile-wrapper;
  margin: 0 auto;
}

.images__list {
  .list-reset();
  .visually-hidden-mixin();
}

.images__picture {
  width: 242px;
  height: 351px;
}
