.price {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.price__wrapper {
  width: @mobile-wrapper;
  margin: 0 auto;
}

.price__old {
  margin-right: 3px;
  color: @old-price-color;
  text-decoration: line-through;
}

.price__regular {
  font-weight: 700;
  color: @regular-price-color;
}

.price__promo {
  font-weight: 700;
  color: @promo-price-color;
}

.price__promo-comment {
  font-size: 15px;
  letter-spacing: 0.01em;
}

//------------------------------------------- TABLET-1 -------------------------

@media (min-width: @tablet-width) {
  .price {
    order: 4;
  }

  .price__wrapper {
    margin-bottom: 4px;
  }

  .price__old {
    margin-right: 5px;
    word-spacing: 3px;
  }

  .price__promo-comment {
    margin-left: 2px;
  }
}

//------------------------------------------- TABLET-2 -------------------------

@media (min-width: @tablet-large-width) {
  .price {
    .flex-row(space-between, flex-start);
    width: @tablet-container;
    margin-bottom: 15px;
  }

  //
  .price__wrapper {
    width: auto;
    margin: 0;
  }
}
